
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,200;6..72,300;6..72,400;6..72,500;6..72,600&display=swap");

@font-face {
  font-family: 'Geist Mono';
  src: url(../font/Geist-Black.otf);
  src: url(../font/Geist-Black.woff2);
  src: url(../font/Geist-Bold.otf);
  src: url(../font/Geist-Bold.woff2);
  src: url(../font/Geist-Light.otf);
  src: url(../font/Geist-Light.woff2);
  src: url(../font/Geist-Medium.otf);
  src: url(../font/Geist-Medium.woff2);
  src: url(../font/Geist-Regular.otf);
  src: url(../font/Geist-Regular.woff2);
  src: url(../font/Geist-SemiBold.otf);
  src: url(../font/Geist-SemiBold.woff2);
  src: url(../font/Geist-Thin.otf);
  src: url(../font/Geist-Thin.woff2);
  src: url(../font/Geist-UltraBlack.otf);
  src: url(../font/Geist-UltraBlack.woff2);
  src: url(../font/Geist-UltraLight.otf);
  src: url(../font/Geist-UltraLight.woff2);
}

@font-face {
  font-family: "Georgia,sans-serif";
  src: url(../font/georgia.woff);
  src: url(../font/georgiab.woff);
  src: url(../font/georgiai.woff);
  src: url(../font/georgiaz.woff);
}

/* VARIABLES */

:root {
  --font-primary: "Plus Jakarta Sans", sans-serif;
  --font-secondary: "Newsreader", sans-serif;
  --font-third: "Geist Mono", sans-serif;
  --font-fourth: "Georgia", sans-serif;
  --main-color: #31313173;
  --second-color: #344299;
  --third-color: #231866;
  --fourth-color: #110c33;
  --fifth-color: #999999;
  --sixth-color: #99999999;
  --seventh-color: #b5cbc681;
  --yellow: #fcff00;
  --back: #31313173;
  --white: #ffffff;
  --gray: #ffffff;
  --black: #181b18;
  --black-option: #2e3f5854;
  --hover-wr: #232323;
  --blur: rgba(160, 160, 170, 0.2);
  --back-blur: #31313173;
  --bg: #232323;
  --color-about: #d1d1c7;
  --line-about: #ffffff1c;
}


body.dark {
  --font-primary: "Plus Jakarta Sans", sans-serif;
  --font-secondary: "Newsreader", sans-serif;
  --main-color: #573CFF;
  --second-color: #342499;
  --third-color: #231866;
  --fourth-color: #110C33;
  --fifth-color: #4f4b4b;
  --sixth-color: #2d2a2a61;
  --seventh-color: #c5bcbc81;
  --yellow: #FB48C4;
  --back: #ededed;
  --white: #1b1b1b;
  --gray: #ffffff;
  --black: #fff;
  --black-option: #e5dada73;
  --hover-wr: #bfaeae73;
  --blur: rgba(160, 160, 170, 0.2);
  --back-blur: #937f7f33;
  --bg: #f1ecec;
  --color-about: #B4B5B7;
  --line-about: #0000003d;
}

.title-wr_section {
  font-size: 40px;
  color: var(--fifth-color);
  font-family: var(--font-primary);
  font-weight: 200;
}

.sub-title-wr_section {
  color: var(--white);
  font-size: 20px;
  font-family: var(--font-third);
  padding-top: 30px;
}

.grid-container-wr {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 30px; 
  margin-top: 20px;
  border-radius: 8px;
}

.img-wr-section {
  max-width: 100%;
  height: auto; 
  transition: 0.3s all;
}

.img-wr-section:hover{
  transform: scale(1.01);
  border-radius: 8px;
}

.title-wr-section {
  color: var(--white);
  font-family: var(--font-third);
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
}

.subtitle-wr-section {
  font-size: 15px;
  margin-top: 15px;
}

.design-wr {
  color: var(--black);
  background-color: var(--yellow);
  padding: 5px;
  border-radius: 5px;
  font-family: var(--font-primary);
  font-weight: 700;
}

.code-wr {
  color: var(--white);
  background-color: var(--code-wr);
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
  font-family: var(--font-primary);
  font-weight: 700;
}

.cloud-wr {
  color: black;
  background-color: skyblue;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
  font-family: var(--font-primary);
  font-weight: 700;
}

.content-wr-2024{
  margin-top: 20px;
}

.span-writings{
  font-style: italic;
  font-weight: 600;
  font-family: var(--font-fourth);
  color: var(--white);
  font-size: 23px;
}

.date-text-wr {
  font-family: var(--font-third);
  font-size: 12px;
  margin-top: 21px;
  padding-right: 8px;
  color: var(--fifth-color);
}

.text-wr {
  font-family: var(--font-third);
  font-size: 15px;
  margin-top: 20px;
  color: var(--white);
}

.text-wr:hover {
  color: var(--color-about);
  transition: 0.3s all;
}

.month-text-wr{
  font-family: var(--font-third);
  font-size: 12px;
  margin-top: 21px;
  padding-left: 8px;
  color: var(--fifth-color);
}

@media (max-width: 768px) {
  .grid-container-wr {
      grid-template-columns: 1fr; 
  }
}

@media (max-width: 480px) {
  .title-wr-section {
      font-size: 18px; 
  }

  .subtitle-wr-section {
      font-size: 14px; 
  }
}

.keys {
  font-size: 20px;
  color: var(--white);
  font-family: var(--font-primary);
  margin-top: 20px;
}

.cloud-analyst-no {
  font-family: var(--font-primary);
  font-size: 20px;
}

.cloud-analyst {
  font-size: 18px;
  margin-top: 20px;
  color: var(--white);
  font-family: var(--font-third);
}