
/* VARIABLES */

:root {
  --font-primary: "Plus Jakarta Sans", sans-serif;
  --font-secondary: "Newsreader", sans-serif;
  --font-third: "Geist Mono", sans-serif;
  --font-fourth: "Georgia,sans-serif";
  --main-color: #573CFF;
  --second-color: #342499;
  --third-color: #231866;
  --fourth-color: #110C33;
  --fifth-color: #999999;
  --sixth-color: #ffffff5e;
  --seventh-color: #c5bcbc81;
  --yellow: #CCFF00;
  --back: #2f2d2d;
  --white: #ffffff;
  --gray: #ffffff;
  --black: #1b1b1b;
  --black-option: #31313173;
  --hover-wr: #2d2a2a73;
  --blur: rgba(160, 160, 170, 0.2);
  --back-blur: #0000001f;
  --bg: #232323;
  --code-wr: #ff006d;
}

body.dark {
  --font-primary: "Plus Jakarta Sans", sans-serif;
  --font-secondary: "Newsreader", sans-serif;
  --main-color: #573CFF;
  --second-color: #342499;
  --third-color: #231866;
  --fourth-color: #110C33;
  --fifth-color: #4f4b4b;
  --sixth-color: #2d2a2a61;
  --seventh-color: #c5bcbc81;
  --yellow: #FB48C4;
  --back: #ededed;
  --white: #1b1b1b;
  --gray: #ffffff;
  --black: #fff;
  --black-option: #e5dada73;
  --hover-wr: #bfaeae73;
  --blur: rgba(160, 160, 170, 0.2);
  --back-blur: #937f7f33;
  --bg: #f1ecec;
  --line-about: #0000003d;
  --code-wr: #ff7c00;
}

.title-wr_section {
  font-size: 40px;
  color: var(--fifth-color);
  font-family: var(--font-primary);
  font-weight: 200;
}

.sub-title-wr_section {
  color: var(--white);
  font-size: 20px;
  font-family: var(--font-third);
  padding-top: 30px;
}

.grid-container-wr {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 30px; 
  margin-top: 20px;
  border-radius: 8px;
}

.img-wr-section {
  max-width: 100%;
  height: auto; 
  transition: 0.3s all;
}

.img-wr-section:hover{
  transform: scale(1.01);
  border-radius: 8px;
}

.title-wr-section {
  color: var(--white);
  font-family: var(--font-third);
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
}

.subtitle-wr-section {
  font-size: 15px;
  margin-top: 15px;
}

.design-wr {
  color: var(--black);
  background-color: var(--yellow);
  padding: 5px;
  border-radius: 5px;
  font-family: var(--font-primary);
  font-weight: 700;
}

.code-wr {
  color: var(--white);
  background-color: var(--code-wr);
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
  font-family: var(--font-primary);
  font-weight: 700;
}

.cloud-wr {
  color: black;
  background-color: skyblue;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
  font-family: var(--font-primary);
  font-weight: 700;
}

@media (max-width: 768px) {
  .grid-container-wr {
      grid-template-columns: 1fr; 
  }
}

@media (max-width: 480px) {
  .title-wr-section {
      font-size: 18px; 
  }

  .subtitle-wr-section {
      font-size: 14px; 
  }
}

.keys {
  font-size: 20px;
  color: var(--white);
  font-family: var(--font-primary);
  margin-top: 20px;
}

.cloud-analyst-no {
  font-family: var(--font-primary);
  font-size: 20px;
}

.cloud-analyst {
  font-size: 18px;
  margin-top: 20px;
  color: var(--white);
  font-family: var(--font-third);
}