/* RESET */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBALS */

html {
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

/* HELPERS */

.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}